.container {
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 480px;

    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
