/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './base/container';
@import './base/common';

@import './utils/variables';

@import './components/header';
@import './components/mobile_menu';
@import './components/hero';
@import './components/section';
@import './components/products';

@import './components/about';

@import './components/advantages';

@import './components/gallery';
@import './components/reviews';
@import './components/contacts';

@import './components/footer';
@import './components/preloader';
@import './components/modal-locator';
