@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
p {
  margin: 0;
  padding: 0;
  list-style:  none;
}

a {
  text-decoration: none;
  color:  inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: DM Sans, sans-serif;
  margin: 0;
}

.visually-hidden  {
  position:  absolute  !important;
  clip:  rect(1px 1px 1px 1px);
  clip:  rect(1px,  1px,  1px,  1px);
  padding:  0  !important;
  border:  0  !important;
  height:  1px  !important;
  width:  1px  !important;
  overflow:  hidden;
}

.section__products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.section__label {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.section__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products {
  list-style: none;
  margin-top: 144px;
}

.products__item {
  position: relative;
  width: 100%;
  height: 485px;
  border-radius: 24px;
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 161px;
}

.products__item:not(:last-child) {
  margin-bottom: 130px;
}

.products__item--pink {
  background-color: #ffb8ca;
}

.products__item--pink ::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 249px;
  height: 252px;
  background-image: url(../images/products/product1.png);
}

.products__item--yellow {
  background-color: #f0d1a5;
}

.products__item--yellow ::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 249px;
  height: 252px;
  background-image: url(../images/products/product2.png);
}

.products__item--green {
  background-color: #c2e297;
}

.products__item--green ::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 249px;
  height: 252px;
  background-image: url(../images/products/product3.png);
}

.products__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 66px;
}

.products__title::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 30px);
          transform: translate(-50%, 30px);
  display: block;
  width: 26px;
  height: 6px;
  background-image: url(../images/products/svg/points.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.products__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: transparent;
  background-image: url(../images/products/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */