$main-txt-color: #907e82;
$second-text-color: #000000;
$label-color: #ffa5ba;
$title-color: #d41443;
$card-txt-color: #ffffff;
$hero-bg-color: #ffb8ca;
$footer-bg-color: #fff5f6;
$second-card-color: #f0d1a5;
$third-card-color: #c2e297;
$bg-color: #e5e5e5;
$schedule-color: #e1e1e1;
$location-color: #d41342;

$main-font: 'DM Sans', sans-serif;
$titles-font: 'Titan One';

$background-accent-light: #fff5f6;
$background-image: #ffa5ba;
$text-color-title: #d41443;
$main-white-color: #ffffff;
$main-black-color: #000000;
$text-color-accent: #907e82;
$tablet: 768px;
$desktop: 1280px;
$hover-color: #c7133e;
$second-hover-color: #ecebeb;
