<section class="section">
    <div class="container about">
        <div class="about__text">
            <label class="about__label">tradition and love</label>
            <h2 class="about__title">how it’s made?</h2>
        </div>
        <div class="about__box-img">
            <img class="about__img" src="./images/gallery/cow.png" alt="cow">
        </div>
        <div class="about__milk">
            <ul class="product__list list">
                <li class="product__item">
                    <p class="product__text"> 
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                        Nam vel justo cursus, faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.
                    </p>
                </li>
                <li class="product__item">
                    <p class="product__text product__text--milk">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                        Mauris rhoncus orci in imperdiet placerat. 
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. 
                        Cras massa nibh, tincidunt.
                    </p>
                </li>
                <li class="product__item">
                    <p class="product__text product__text--milk">
                        Aliquam erat volutpat. Aenean accumsan.
                    </p>
                </li>
                <div class="about__milk"></div>
                <li class="product__item">
                    <button class="button button__read" type="button">Read more
                        <svg class="button__read--more" width="10" height="8">
                            <use href="../src/images/gallery/icons.svg#icon-more"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="about__card">
            <ul class="product__list list">
                <li class="product__item">
                    <img class="product__image" src="../src/images/gallery/milk.jpg" alt="milk">
                    <h3 class="product__details">721</h3>
                    <p class="product__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="product__item">
                    <img class="product__image--coctailse" src="../src/images/gallery/coctailse.jpg" alt="coctailse">
                    <h3 class="product__details">16kg</h3>
                    <p class="product__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="product__item">
                    <img class="product__image--icecream" src="../src/images/gallery/icecream.jpg" alt="icecream">
                    <h3 class="product__details">84</h3>
                    <p class="product__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </div>
</section>