<section class="adv-fone" id="about us">
    <div class="container adv">
        <h2 class="visually-hidden"> Precedency </h2>
        <ul class="list adv_list">
            <li class="adv_li adv_li-one">
                <h3 class="adv_title">721</h3>
                <p class="adv_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adv_li adv_li-twe">
                <h3 class="adv_title">16kg</h3>
                <p class="adv_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adv_li adv_li-tree">
                <h3 class="adv_title">84</h3>
                <p class="adv_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
