<section class="contacts-section-contacts">
  <div class="container">
    <div class="card-set-container">
      <ul class="contacts-card-set">
        <li class="contacts-card-contacts">
          <p class="location-type-cafe">cafe</p>
          <p class="accent-paragraf">Chicago</p>
          <p class="contacts-paragraf">
            Chicago MOB also likes ice-cream thats why we opened here from:
          </p>
          <p class="accent-paragraf">Monday - Friday</p>
          <p class="working-time">06:00 AM - 10:00 PM</p>
          <p class="accent-paragraf">Saturday - Sunday</p>
          <p class="working-time">08:00 AM - 16:00 PM</p>
          <p class="contact-links-paragraf">
            <a class="contacts-link-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-link-contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
        <li class="contacts-card-contacts">
          <p class="location-type-truck">FOOD TRUCK</p>
          <p class="accent-paragraf">Los Angeles</p>
          <p class="contacts-paragraf">
            Los Angeles La EME also likes ice-cream so we opened here from:
          </p>
          <p class="accent-paragraf">Monday - Friday</p>
          <p class="working-time">06:00 AM - 10:00 PM</p>
          <p class="accent-paragraf">Saturday - Sunday</p>
          <p class="working-time">08:00 AM - 16:00 PM</p>
          <p class="contact-links-paragraf">
            <a class="contacts-link-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-link-contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
        <li class="contacts-card-contacts">
          <p class="location-type-cafe">cafe</p>
          <p class="accent-paragraf">New York</p>
          <p class="contacts-paragraf">
            Clan Soprano from Jearsy also likes ice-cream so we opened here from:
          </p>
          <p class="accent-paragraf">Monday - Friday</p>
          <p class="working-time">06:00 AM - 10:00 PM</p>
          <p class="accent-paragraf">Saturday - Sunday</p>
          <p class="working-time">08:00 AM - 16:00 PM</p>
          <p class="contact-links-paragraf">
            <a class="contacts-link-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-link-contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button class="location-button-location" type="button" my-data-modal-open>Our Locations</button>
      <button class="franchise-button-franchise" type="button">Franchise</button>
    </div>
  </div>
</section>
