<section class="contacts__container">
    <article id="сontacts"></article>
    <h1 class="visually-hidden">Contacts</h1>
    <ul class="contacts__chain">
        <li class="contacts__card">
            <p class="contacts__cafe">CAFE</p>
            <div>
                <h3 class="contacts__city">Chicago</h3>
                <p class="contacts__fish">Furce ut velit laoreet,tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__schedule">
                <h3 class="contacts__timetable">Monday-Friday</h3>
                <p class="contacts__time">06.00AM - 10.00PM</p>
                <h3 class="contacts__weekend">Saturday-Sunday</h3>
                <p class="contacts__time">08.00AM - 16.00PM</p>
            </div>
            <div class="contacts__connection">
                <a class="contacts__tel" href="tel:+61(0)383766284">+61(0)383766284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    
        <li class="contacts__card">
            <p class="contacts__foodtruck">FOODTRUCK</p>
            <div>
                <h3 class="contacts__city">Los Angeles</h3>
                <p class="contacts__fish">Furce ut velit laoreet,tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__schedule">
                <h3 class="contacts__timetable">Monday-Friday</h3>
                <p class="contacts__time">06.00AM - 10.00PM</p>
                <h3 class="contacts__weekend">Saturday-Sunday</h3>
                <p class="contacts__time">08.00AM - 16.00PM</p>
            </div>
            <div class="contacts__connection">
                <a class="contacts__tel" href="tel:+61(0)383766284">+61(0)383766284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>

        <li class="contacts__card">
            <p class="contacts__cafe">CAFE</p>
            <div>
                <h3 class="contacts__city">New York</h3>
                <p class="contacts__fish">Furce ut velit laoreet,tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__schedule">
                <h3 class="contacts__timetable">Monday-Friday</h3>
                <p class="contacts__time">06.00AM - 10.00PM</p>
                <h3 class="contacts__weekend">Saturday-Sunday</h3>
                <p class="contacts__time">08.00AM - 16.00PM</p>
            </div>
            <div class="contacts__connection">
                <a class="contacts__tel" href="tel:+61(0)383766284">+61(0)383766284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    <div class="contacts__button">
        <button class="contacts__location" type="button" my-data-modal-open>Our Locations</button>
        <button class="contacts__franchise" type="button">Franchise</button>
    </div>
</section>