<header class="header ">
<article id="home"></article>
  <div class="container header__container">
    
    
    <img class="logo" src="./images/header/logo.png" alt="Логотип" />
    <div class="header__buttons">
    <button type="button" class="mobile__button is-open" aria-expended="false" data-menu-button>
      <svg class="mobile__icon" width="20" height="20">
        <use class="menu__close" href="./images/header/svg-header.svg#icon-close"></use>
        <use class="menu__open" href="./images/header/svg-header.svg#icon-open"></use>
      </svg>
    </button>
  
  <div class="header__nav">
    <div class="button button--close">
      <button type="button" class="button__menu button__menu--close" desck-data-modal-open >Buy now</button>
    </div>
  </div>
<!--Мобильное меню-->
    <div class="mobile__menu" id="mobile__menu" data-menu>
      <div class="button button--open">
        <button type="button" class="button__menu button__menu--open" data-modal-open>Buy now</button>
      </div>
      <div>
        <nav class="navigation">
          <ul class="navigation__list list">
            <li class="navigation__item">
            <a href="#home" class="link navigation__link navigation__link--current">Home</a>
            </li>
            <li class="navigation__item">
              <a href="#about us" class="link navigation__link">About us</a>
            </li>
            <li class="navigation__item">
              <a href="#How it’s made?" class="link navigation__link">How it’s made?</a>
            </li>
            <li class="navigation__item">
              <a href="#products" class="link navigation__link">Our products</a>
            </li>
            <li class="navigation__item">
              <a href="#сontacts" class="link navigation__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
<!--Модальное окно-->
<div class="header__backdrop is-hidden" desck-data-modal data-modal>
  <div class="header__modal">
    <button class="modal__btn" type="button"  data-modal-close>
      <svg class="modal__icon">
          <use href="./images/header/svg-header.svg#icon-close"/>
      </svg>
      </button>

        <form class="form">
        <b class="form__title title">Make an order</b>
        <ul class="form__list">
            <li class="form__item customers">
                <label for="user-name" class="customer__data">Name</label>
                <input class="form__field" type="text" name="name" id="user-name"/>
                         
            </li>
            
            <li class="form__item customers">
               <label for="user-tel" class="customer__data">Phone number</label>
                <input class="form__field" type="tel" name="tel" id="user-tel"/>
               
            </li>
          
            <li class="form__item checkbox">
              <p class="checkbox__title"> <img class="form__icon" src="./images/header/ice-cream.png"/>Ice cream</p>
              
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="strawberries" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
                Strawberries</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="pistachios" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Pistachios</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="chocolate" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Chocolate</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="ice cream" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Ice cream</label>
            </li>
            <li class="form__item checkbox">
              <p class="checkbox__title" ><img class="form__icon" src="./images/header/coffee.png"/>Ice coffee</p>
              
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="black" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Black</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="white" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              White</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="caffeine" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Caffeine free</label>
            </li><li class="form__item checkbox">
              <p class="checkbox__title" ><img class="form__icon" src="./images/header/milkshake.png"/>Milkshakes</p>
              
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="banana" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Banana</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="bilberry" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Bilberry</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="chocolate" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Chocolate</label>
                <label class="label">
                <input class="checkbox" type="checkbox" name="hobby" value="strawberries" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Strawberries</label>
            </li>     
            <li class="form__item checkbox">
              <p class="checkbox__title" >Choose a delivery:</p>
                <label class="label">
                <input class="checkbox" type="radio" name="method" value="self-pickup" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Self-pickup</label>
                <label class="label">
                <input class="checkbox" type="radio" name="method" value="courier" />
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/header/check.svg#icon-check"></use>
              </svg>
              Courier</label>
            </li>
            <li class="form__item checkbox">
                <label class="form__lable-com" for="comments">Order comments</label>
                <textarea class="form__comments" name="comments" rows="5" id="comments" placeholder="Enter your text"></textarea>
    
            </li>
        </ul>
      <button class="form__button" type="submit">Order</button>
    </form>
    </div>
    </div>
  </div>
</div>
  </div>
</header>
