<header class="header">
  <div class="container header-container">
    <img class="logo" src="./images/header/logo.png" alt="Логотип" />
    <button type="button" class="mobile__button is-open" aria-expended="false" data-menu-button>
      <svg class="mobile__icon" width="20" height="20">
        <use class="menu__close" href="./images/header/svg-header.svg#icon-close"></use>
        <use class="menu__open" href="./images/header/svg-header.svg#icon-open"></use>
      </svg>
    </button>

    <div class="mobile__menu is-open" id="mobile__menu" data-menu>
      <div class="button">
        <button type="button" class="button__menu">Buy now</button>
      </div>
      <div>
        <nav class="navigation">
          <ul class="navigation__list list">
            <li class="navigation__item">
              <a href="./" class="link navigation__link navigation__link--current">Home</a>
            </li>
            <li class="navigation__item">
              <a href="./" class="link navigation__link">About us</a>
            </li>
            <li class="navigation__item">
              <a href="./" class="link navigation__link">How it’s made?</a>
            </li>
            <li class="navigation__item">
              <a href="./" class="link navigation__link">Our products</a>
            </li>
            <li class="navigation__item">
              <a href="./" class="link navigation__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
