<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ICE CREAM <br />
      MADE WITH <br /><span>PASSION</span>
    </h1>
    <ul class="hero__button-list">
      <li><button class="hero__button--first" type="button">Products</button></li>
      <li><button class="hero__button" type="button">How it’s made?</button></li>
    </ul>
    <ul class="hero__franchise">
      <li class="hero__franchise-thumb">
        <p class="hero__franchise-number">16</p>
        <p class="hero__franchise-text">cafes</p>
      </li>
      <li class="hero__franchise-thumb">
        <p class="hero__franchise-number">23</p>
        <p class="hero__franchise-text">food trucks</p>
      </li>
    </ul>
    <div class="hero__adv-box">
      <img class="hero__adv-milk" src="./images/hero/milk.png" alt="jar of milk" />
      <div class="hero__adv-thumb">
        <p class="hero__adv-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="unknow-button" type="button"></button>
      </div>
    </div>
    <img class="hero__girl-pic" src="./images/hero/girl.png" alt="girl with icecream" />
  </div>
</section>
