<section class="section section__products">
  <article id="products"></article>
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title">products</h2>
    
    <ul class="products">
      <li class="products__item products__item--pink">
        <h3 class="products__title">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="products__wraper">
          <button class="products__btn" type="button">
            <svg class="product__svg" width="20px" height="20px">
              <use href="./images/products/svg/arrow.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--yellow">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="products__wraper">
          <button class="products__btn" type="button">
            <svg class="product__svg" width="20px" height="20px">
              <use href="./images/products/svg/arrow.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--green">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="products__wraper">
          <button class="products__btn" type="button">
            <svg class="product__svg" width="20px" height="20px">
              <use href="./images/products/svg/arrow.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
