<section class="reviews">
  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/customer1.png 1x, ./images/reviews/customer1@2x.png 2x"
          src="./images/reviews/customer1.png"
          alt="Emily, Los Angeles"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="reviews__dots">
          <li class="reviews__dot"></li>
          <li class="reviews__dot"></li>
          <li class="reviews__dot"></li>
        </ul>
        <p class="reviews__customer-info">Emily, Los Angeles</p>
      </div>
      <div class="swiper-pagination">
        <ul class="swiper-pagination__list">
          <li class="swiper-pagination__item swiper-pagination__item--active"></li>
          <li class="swiper-pagination__item"></li>
          <li class="swiper-pagination__item"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
