<section class="reviews">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="reviews__slider">
      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/oleksandr.png 1x, ./images/reviews/oleksandr@2x.png 2x"
          src="./images/reviews/oleksandr.png"
          alt="Oleksandr, Cherkasy"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Hot dog it's my favorite ice cream</p>
        </div>
        <p class="reviews__customer-info">Oleksandr, Cherkasy</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/ira.png 1x, ./images/reviews/ira@2x.png 2x"
          src="./images/reviews/ira.png"
          alt="Ira, Kharkiv"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            I like only organic ice cream, beacause it most useful for health
          </p>
        </div>
        <p class="reviews__customer-info">Ira, Kharkiv</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/andrey.png 1x, ./images/reviews/andrey@2x.png 2x"
          src="./images/reviews/andrey.png"
          alt="Andrey, Odesa"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Beer cools better than any ice cream</p>
        </div>
        <p class="reviews__customer-info">Andrey, Odesa</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/ilya.png 1x, ./images/reviews/ilya@2x.png 2x"
          src="./images/reviews/ilya.png"
          alt="Ilya, Riga"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Water in Gulf of Riga colder than than ice cream</p>
        </div>
        <p class="reviews__customer-info">Ilya, Rīga</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/marina.png 1x, ./images/reviews/marina@2x.png 2x"
          src="./images/reviews/marina.png"
          alt="Marina, Odesa"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Ice cream it's the best medicine for all problems</p>
        </div>
        <p class="reviews__customer-info">Marina, Odesa</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/volodymyr.png 1x, ./images/reviews/volodymyr@2x.png 2x"
          src="./images/reviews/volodymyr.png"
          alt="Volodymyr,
        Lviv"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            If you going to go to the Lviv, you should to try ice cream with wasabi
          </p>
        </div>
        <p class="reviews__customer-info">Volodymyr, Lviv</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/andriy.png 1x, ./images/reviews/andriy@2x.png 2x"
          src="./images/reviews/andriy.png"
          alt="Andriy, Rivne"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Better than ice cream only a lot of ice cream</p>
        </div>
        <p class="reviews__customer-info">Andriy, Rivne</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/yaroslav.png 1x, ./images/reviews/yaroslav@2x.png 2x"
          src="./images/reviews/yaroslav.png"
          alt="Yaroslav,
        Odesa"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            Mac for people, windows for housewives, ice cream for everyone
          </p>
        </div>
        <p class="reviews__customer-info">Yaroslav, Odesa</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/max.png 1x, ./images/reviews/max@2x.png 2x"
          src="./images/reviews/max.png"
          alt="Max, Cherkasy"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">Come to the darkside. We have ice cream</p>
        </div>
        <p class="reviews__customer-info">Max, Cherkasy</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/customer1.png 1x, ./images/reviews/customer1@2x.png 2x"
          src="./images/reviews/customer1.png"
          alt="Emily, Los Angeles"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__customer-info">Emily, Los Angeles</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/customer2.png 1x, ./images/reviews/customer2@2x.png 2x"
          src="./images/reviews/customer2.png"
          alt="Drew, New York"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__customer-info">Drew, New York</p>
      </div>

      <div class="reviews__slide">
        <img
          class="reviews__customer-photo"
          srcset="./images/reviews/customer3.png 1x, ./images/reviews/customer3@2x.png 2x"
          src="./images/reviews/customer3.png"
          alt="Diana, San Francisco"
          width="85"
        />
        <div class="reviews__coment-box">
          <p class="reviews__coment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__customer-info">Diana, San Francisco</p>
      </div>
    </div>
  </div>
</section>