.about{
    background-color: $footer-bg-color;
}
.about__labe{
    color: $label-color;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
}
.about__title{

}
.about__img{
    width: 280px;
    height: 280px;
}
