.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about__section{
    background-color: $footer-bg-color;
    position: relative;
    @media screen and (min-width:1200px){
    background-image: url(/images/gallery/big-milk-spray.png);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-position: center;
    background-position-y: 390px;
    }
}
.about{
    padding-top: 130px;
    padding-bottom: 97px;
}
.about__box-img{
    @media screen and (min-width:768px){
        display: flex;
        margin-top: 50px;
    }
    @media screen and (min-width:1200px){
        margin-left: 74px;
    }
}
.about__text{
    text-align: center;
}
.about__label{
    font-family: $titles-font;
    font-weight: 400;
    color: $label-color;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    display: inline-block;

    margin-bottom: 15px;
    @media screen and (min-width:768px){
        font-size: 26px;
        line-height: 1.15;
    }
    @media screen and (min-width:1200px){
        font-size: 30px;
        line-height: 1.13;
    }
}
.about__title{
    font-family: $titles-font;
    font-weight: 400;
    font-size: 34px;
    color: $title-color;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 25px;
    @media screen and (min-width:768px){
        font-size: 48px;
        line-height: 1.15;
    }
    @media screen and (min-width:1200px){
        font-size: 58px;
        line-height: 1.13;
    }
}
.about__img{
    width: 280px;
    height: 280px;
    @media screen and (min-width:768px){
        width: 340px;
        height: 339px;
        margin-right: 17px;
    }
    @media screen and (min-width:1200px){
        width:  516px;
        height: 516px;
        margin-right: 74px;
    
    }
}
.about__milk{
   padding-right: 30px;
   padding-left: 30px;
   max-width: 340px;
   @media screen and (min-width:768px){
       padding: 0;
       margin-top: 100px;
   }
   @media screen and (min-width:1200px){
        padding: 0;
        max-width: 463px;
   }
}
.product__list{
    list-style: none;
}
.product__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-bottom: 30px;
    @media screen and (min-width:768px){
        font-size: 14px;
        line-height: 1.78;
    }
    @media screen and (min-width:1200px){
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
        margin-bottom: 35px;
    }
}
.product__text--milk{
    color: $main-txt-color;
    margin-bottom: 17px;
}
.product__text--pos{
    @media screen and (min-width:768px){
        margin-bottom: 62px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 45px;
    }
}
.button__read{
    background-color: #FFFFFF;
    border-radius: 22px;
    border-width: 0px;
    cursor: pointer;
    width: 176px;
    height: 44px;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 10px 37px 10px 37px;
    font-weight: 700;
    font-family: $main-font;
    color: $title-color;
    margin-bottom: 40px;
    &:hover,
    &:focus{
        background-color: #ECEBEB;
    }
}
.button__read--more{
    margin-left: 13px;
}
.product__image{
    width: 33px;
    height: 50px;
    background-image: url(/images/gallery/milk.jpg);
}
.product__image--coctailse{
    width: 50px;
    height: 50px;
    background-image: url(/images/gallery/coctailse.jpg);
    background-color: $footer-bg-color;
    color: $footer-bg-color;
}
.product__image--icecream{
    width: 44px;
    height: 50px;
    background-image: url(/images/gallery/icecream.jpg);
}
.about__card{
    max-width: 230px;
}
.product__image{
    margin-bottom: 16px;
}
.about__milk--spray{
    @media screen and (max-width:320px){
    width: 100%;
    background-image: url(/images/gallery/milk-spray.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position-y: 720px;
    }
}
