.gallery {
  margin-right: auto;
  margin-left: auto;

  height: 122px;

  background-color: $card-txt-color;
  background-image: linear-gradient(to bottom, $footer-bg-color 50%, $card-txt-color 50%);
  @media screen and (min-width: 768px) {
    height: 264px;
  }
  @media screen and (min-width: 1200px) {
    height: 430px;
  }
}
.gallery-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/gallery/gallery-photo1x.png);
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center;
  @media screen and (max-width: 479.98px) {
    background-image: url(../images/gallery/gallery-photo2x.png);
    background-size: 320px auto;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/gallery/gallery-photo1x.png);
    background-size: 768px auto;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/gallery/gallery-photo2x.png);
    background-size: 768px auto;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/gallery/gallery-photo1x.png);
    background-size: 1280px auto;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/gallery/gallery-photo2x.png);
    background-size: 1280px auto;
  }
}
