.header {
  background-color: $hero-bg-color;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  background-color: $hero-bg-color;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
    
  }
}
.button.button--close{
  margin: 0;
  @media screen and (max-width: 767.98px){
    display: none;
    
  }
  }
.button__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  height: 44px;
  margin-top: 0px;
  border: none;
  color: $title-color;
  background-color: $card-txt-color;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  border-radius: 22px;
  text-decoration: none;
  cursor: pointer;
}
.buttom__menu--close{
  min-width: 160px;
}
.mobile__button {
  position: absolute;
  right: 20px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 2;
  & .menu__open {
    display: none;
  }
  &.is-open .menu__open {
    display: block;
  }
  &.is-open .menu__close {
    display: none;
  }
  @media screen  and (min-width: 768px) {
    left: 494px;
    top: 52px;
    
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
