.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
    justify-content: space-between;
  }
}
.header__nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.button.button--close{
  margin: 0;
  @media screen and (max-width: 767.98px){
    display: none;
  }
  @media screen and (min-width: 1280px){
    margin-left: 110px;
    
  }
  }
.button__menu {
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 160px;
  height: 44px;

  border: none;
  color: $title-color;
  background-color: $card-txt-color;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  border-radius: 22px;
  text-decoration: none;
  cursor: pointer;
 
}
.button__menu--close{
  width: 160px;
}
.button__menu--open{
    @media screen and (min-width: 768px) {
    min-width: 160px;
       }
       @media screen and (min-width: 1280px){
         display: none;
       }
}
.button__menu::after {
  display: inline-block;

  margin-left: 16px;
  width: 5px;
  height: 8px;
 
  content: '';
  background-image: url('/images/header/vector.svg');
  background-repeat: no-repeat;
  background-size: contain;

}
.mobile__button {
  position: absolute;
  right: 20px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 2;
  & .menu__open {
    display: none;
  }
  &.is-open .menu__open {
    display: block;
    
  }
  &.is-open .menu__close {
    display: none;
  }
  @media screen  and (min-width: 768px) {
    left: 524px;
    top: 52px;
    
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
