.hero {
  background-color: $hero-bg-color;
  padding-top: 135px;
  padding-bottom: 160px;
  background-image: url(../images/hero/icecream.png), url(../images/hero/ellipse.png);
  background-repeat: no-repeat;
  background-size: 170px 410px, 344px;
  background-position: bottom right 32px, bottom 75px right -62px;

  position: relative;

  @media screen and (min-width: 768px) {
    background-size: 143px 336px, 324px;
    background-position: bottom right 247px, bottom 46px right 137px;

    padding-top: 15px;
    padding-bottom: 28px;
  }
}

.hero__title {
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: $card-txt-color;
  & span {
    color: $title-color;

    font-size: 48px;
    line-height: 96.5%;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
    & span {
      font-size: 34px;
      line-height: 90.5%;
    }
  }
}

.hero__button-list {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.hero__button--first {
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
  margin-right: 8px;

  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  font-weight: 400;

  cursor: pointer;

  background-color: $title-color;
  color: $card-txt-color;
}

.hero__button {
  border: none;
  border-radius: 20px;
  padding: 7px 15px;

  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  font-weight: 400;

  cursor: pointer;

  color: $title-color;
  background-color: $card-txt-color;
}

.hero__franchise {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    right: 34px;
  }
}
.hero__franchise-number {
  font-family: $titles-font;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $title-color;
}
.hero__franchise-text {
  font-family: $main-font;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;

  color: $card-txt-color;
}

.hero__franchise-thumb {
  background-image: url(../images/hero/white-ellipse.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: top right;
}

.hero__adv-box {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero__girl-pic {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 34px;
  }
}

.hero__adv-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 114px;
}
.hero__adv-text {
  font-family: $main-font;
  font-size: 8px;
  line-height: 1.5;

  color: $main-white-color;
}

.unknow-button {
  border: none;
  border-radius: 50%;
  background-color: #fff;
  width: 18px;
  height: 18px;
  margin-top: 7px;

  background-image: url(../images/hero/arrow.png);
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
}
