.products {
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -24px;
    margin-left: -24px;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 485px;
    border-radius: 24px;

    padding-top: 161px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: $tablet) {
      padding-top: 152px;
      width: 220px;
      margin-top: 20px;
      margin-left: 20px;
      flex-basis: calc(33.33333% - 20px);
    }
    @media screen and (min-width: $desktop) {
      padding-top: 163px;
      width: 329px;
      height: 525px;
      margin-top: 24px;
      margin-left: 24px;
      flex-basis: calc(33.33333% - 25px);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 130px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__item--pink {
    background-color: $hero-bg-color;

    ::before {
      content: '';
      position: absolute;
      top: -50%;
      left: 50%;

      transform: translate(-50%, 50%);

      width: 249px;
      height: 252px;

      background-image: url(../images/products/product1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      // @media screen and (min-width: $tablet) {
      //   width: 220px;
      //   height: 224px;
      //   background-image: url(../images/products/product1tab.png);
      // }
      // @media screen and (min-width: $desktop) {
      //   top: -70%;
      //   width: 335px;
      //   height: 335px;
      //   background-image: url(../images/products/product1big.png);
      // }
    }
  }
  &__item--yellow {
    background-color: $second-card-color;

    ::before {
      content: '';
      position: absolute;
      top: -50%;
      left: 50%;

      transform: translate(-50%, 50%);

      width: 249px;
      height: 252px;

      background-image: url(../images/products/product2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      // @media screen and (min-width: $tablet) {
      //   width: 220px;
      //   height: 224px;
      //   background-image: url(../images/products/product2tab.png);
      // }
      // @media screen and (min-width: $desktop) {
      //   top: -70%;
      //   width: 335px;
      //   height: 335px;
      //   background-image: url(../images/products/product2big.png);
      // }
    }
  }

  &__item--green {
    background-color: $third-card-color;
    ::before {
      content: '';
      position: absolute;
      top: -50%;
      left: 50%;

      transform: translate(-50%, 50%);

      width: 249px;
      height: 252px;

      background-image: url(../images/products/product3.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      // @media screen and (min-width: $tablet) and (max-width: 767px) {
      //   width: 220px;
      //   height: 224px;
      //   background-image: url(../images/products/product3tab.png);
      //   background-repeat: no-repeat;
      // }
      // @media screen and (min-width: $desktop) {
      //   top: -70%;
      //   width: 335px;
      //   height: 335px;
      //   background-image: url(../images/products/product3big.png);
      //   background-repeat: no-repeat;
      // }
    }
  }

  &__title {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $card-txt-color;

    margin-bottom: 66px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 70px;
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);

    display: block;
    width: 26px;
    height: 6px;

    background-image: url(../images/products/svg/points.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__description {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    padding-left: 41px;
    padding-right: 39px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    letter-spacing: 0.04em;

    color: $card-txt-color;

    @media screen and (min-width: $tablet) {
      padding: 0 11px;
      margin-bottom: 40px;
      line-height: 1.76;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      margin-bottom: 62px;
      padding: 0 44px;
    }
  }

  &__wraper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: $card-txt-color;
    border-color: transparent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //   transform: rotate(-90deg);
    // }
  }
}

.products__btn:hover {
  transform: rotate(-90deg);
}
