.section {
  &__products {
    padding: 121px 20px 98px;

    @media screen and (min-width: 768px) {
      padding: 122px 34px 112px;
    }
  }

  &__label {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    color: $label-color;

    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
    }
  }
  &__title {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $title-color;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;
    }
  }
}
