.section {
  &__products {
    padding-top: 121px;
    padding-bottom: 98px;
  }

  &__label {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    color: $label-color;

    margin-bottom: 15px;
  }
  &__title {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $title-color;
  }
}
