.section {
  &__products {
    padding: 121px 0 98px;

    @media screen and (min-width: $tablet) {
      padding: 122px 0 112px;
    }
    @media screen and (min-width: $desktop) {
      padding: 127px 0 119px;
    }
  }

  &__label {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    color: $label-color;

    margin-bottom: 15px;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }
  }
  &__title {
    font-family: $titles-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $title-color;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
}
